## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa
# achemso
acs-*.bib
# amsthm
*.thm
# beamer
*.nav
*.snm
*.vrb
# cprotect
*.cpt
# fixme
*.lox
#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
# gnuplottex
*-gnuplottex-*
# gregoriotex
*.gaux
*.gtex
# hyperref
*.brf
# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary
# listings
*.lol
# makeidx
*.idx
*.ilg
*.ind
*.ist
# minitoc
*.maf
*.mlf
*.mlt
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
# minted
_minted*
*.pyg
# morewrites
*.mw
# mylatexformat
*.fmt
# nomencl
*.nlo
# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
# scrwfile
*.wrt
# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/
# pdfcomment
*.upa
*.upb
# pythontex
*.pytxcode
pythontex-files-*/
# thmtools
*.loe
# TikZ & PGF
*.dpth
*.md5
*.auxlock
# todonotes
*.tdo
# easy-todo
*.lod
# xindy
*.xdy
# xypic precompiled matrices
*.xyc
# endfloat
*.ttt
*.fff
# Latexian
TSWLatexianTemp*
## Editors:
# WinEdt
*.bak
*.sav
*.vscodeLog
# Texpad
.texpadtmp
# Kile
*.backup
# KBibTeX
*~[0-9]*
# auto folder when using emacs and auctex 
/auto/*
# ignore raw dataset, because confidential
/Data
# ingore python development enviroment
/CorrAnalysis/venv
/CorrAnalysis/.idea
/CorrAnalysis/__pycache__
# ignore datasets, because confidential
/CorrAnalysis/data/ArbIS/01_dataset/ArbIS_2019.csv
/CorrAnalysis/data/ArbIS/01_dataset/ArbIS_2019.xlsx
/CorrAnalysis/data/ArbIS/02_matched/_monthly
/CorrAnalysis/data/ArbIS/02_matched/ArbIS_2019.csv
/CorrAnalysis/data/ArbIS/02_matched/ArbIS_2019.xlsx
/CorrAnalysis/data/BAYSIS/01_dataset/BAYSIS_2019.csv
/CorrAnalysis/data/BAYSIS/01_dataset/BAYSIS_2019.xlsx
/CorrAnalysis/data/BAYSIS/02_matched/_monthly
/CorrAnalysis/data/BAYSIS/02_matched/BAYSIS_2019.csv
/CorrAnalysis/data/BAYSIS/02_matched/BAYSIS_2019_cleaned.csv
/CorrAnalysis/data/BAYSIS/02_matched/BAYSIS_2019.xlsx
/CorrAnalysis/data/BAYSIS/03_selected_01_startJam/csv/encoded.csv
/CorrAnalysis/data/BAYSIS/03_selected_02_duringJam/csv/encoded.csv
/CorrAnalysis/data/BAYSIS/03_selected_03_endJam/csv/encoded.csv
# ignore old word docs
/Thesis/word
# ignore evaluation code for now
/CongEvaluation
# ignore r project files
.Rproj.user
/CorrAnalysis/.RData
/CorrAnalysis/CorrAnalysis.Rproj
# ignore generated datasets 
/CorrAnalysis/data/ArbIS/01_dataset/csv/encoded.csv
/CorrAnalysis/data/BAYSIS/01_dataset/csv/encoded.csv
/CorrAnalysis/data/ArbIS/02_matched/csv/encoded.csv
/CorrAnalysis/data/BAYSIS/02_matched/csv/encoded.csv
/CorrAnalysis/data/BAYSIS/03_selected/csv/encoded.csv
# ignore pdf for now
/Thesis/Masterthesis_JakobErpf.pdf
# ignore unkown latex compiler files
/Thesis/Masterthesis_JakobErpf.acn
/Thesis/Masterthesis_JakobErpf.aux
/Thesis/Masterthesis_JakobErpf.fdb_latexmk
/Thesis/Masterthesis_JakobErpf.fls
/Thesis/Masterthesis_JakobErpf.glo
/Thesis/Masterthesis_JakobErpf.ist
/Thesis/Masterthesis_JakobErpf.lof
/Thesis/Masterthesis_JakobErpf.log
/Thesis/Masterthesis_JakobErpf.lot
/Thesis/Masterthesis_JakobErpf.toc
/Thesis/Masterthesis_JakobErpf.synctex.gz
/Thesis/Masterthesis_JakobErpf.bbl
/Thesis/Masterthesis_JakobErpf.blg
/Thesis/Masterthesis_JakobErpf.dvi
