/Thesis/.texpadtmp
# ignore raw dataset, because confidential
/Data
# ingore python development enviroment
/CorrAnalysis/venv
/CorrAnalysis/.idea
/CorrAnalysis/__pycache__
# ignore datasets, because confidential
/CorrAnalysis/data/ArbIS/dataset/ArbIS_2019.csv
/CorrAnalysis/data/ArbIS/dataset/ArbIS_2019.xlsx
/CorrAnalysis/data/ArbIS/matched/_monthly
/CorrAnalysis/data/ArbIS/matched/ArbIS_2019.csv
/CorrAnalysis/data/ArbIS/matched/ArbIS_2019.xlsx
/CorrAnalysis/data/BAYSIS/dataset/BAYSIS_2019.csv
/CorrAnalysis/data/BAYSIS/dataset/BAYSIS_2019.xlsx
/CorrAnalysis/data/BAYSIS/matched/_monthly
/CorrAnalysis/data/BAYSIS/matched/BAYSIS_2019.csv
/CorrAnalysis/data/BAYSIS/matched/BAYSIS_2019.xlsx
